.has-ell {
  --ell-background: rgb(48 49 51);
  --ell-left: 0;
  --ell-top: 0;
  --ell-angle-left: 0;
  --ell-angle-top: 0;
  --ell-wrap: nowrap;
  --ell-width:0;
  position: relative;
}

.ell {
  /* 作为子无素，若设置为inline-block,可能会撑高父元素高度，故强制为block*/
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: content-box !important;
}

.ell-l:after, .ell-r:after, .ell-t:after, .ell-b:after {
  position: fixed;
  content: attr(ell-value);
  left: 0;
  top: 0;
  max-width: 250px;
  font-size: 12px;
  padding: 10px;
  line-height: 1.2;
  box-sizing: content-box !important;
  visibility: hidden;
  opacity: 0;
  white-space: pre-wrap;

}

.ell-l:before, .ell-r:before, .ell-t:before, .ell-b:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  border-width: 5px;
  border-style: solid;
  visibility: hidden;
  opacity: 0

}

.ell-l, .ell-r, .ell-t, .ell-b {
  overflow: hidden;
  white-space: nowrap;
  display: block !important;
}
.ell-l:hover, .ell-r:hover, .ell-t:hover, .ell-b:hover {
  overflow: visible;
}

.has-ell:after {
  content: attr(ell-value);
  position: absolute !important;
  left: var(--ell-left);
  top: var(--ell-top);
  white-space: var(--ell-wrap);
  width: var(--ell-width);
  background-color: var(--ell-background);
  color: #fff;
  text-align: left;
  border-radius: 4px;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
}


.has-ell:before {
  content: '';
  position: absolute !important;
  left: var(--ell-angle-left);
  top: var(--ell-angle-top);
  border-width: 5px;
  border-style: solid;
  border-color: var(--ell-background) transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 10000;
  box-sizing: content-box !important;
}

.has-ell-top:before {
  border-color: var(--ell-background) transparent transparent transparent;
}

.has-ell-bottom:before {
  border-color: transparent transparent var(--ell-background) transparent;
}

.has-ell-right:before {
  border-color: transparent var(--ell-background) transparent transparent;
}

.has-ell-left:before {
  border-color: transparent transparent transparent var(--ell-background);
}


.has-ell:hover:after {
  visibility: visible;
  opacity: 1;
}

.has-ell:hover:before {
  visibility: visible;
  opacity: 1;
}
